<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Band</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Bands</h1>
    <table>
        <tr>
            
            <th>Name</th>
            <th>Genre</th>
            <th>Formation Year</th>
            <th>Member</th>
            

            <th>Actions</th>
        </tr>
        <% for (let i = 0; i < Bands.length; i++) { %>
            <tr>
                
                <td><%= Bands[i].Name %></td>
                <td><%= Bands[i].Genre %></td>
                <td><%= Bands[i].FormationYear %></td>
                <td><%= Bands[i].Member %></td>
                
                <td class="actions">
                    <a href="/updateband/<%= Bands[i].ID %>">Update</a>
                    <a href="/deleteband/<%= Bands[i].ID %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <div class="middle">
        
        
        <a href="/createBand" class="create-link">Create New Bands</a>
        <br>
        <a href="/" class="create-link">View Band</a>
        <br>
        <a href="/Albums" class="create-link">View Album</a>
        <br>
        
    </div>
</body>
</html>
