<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Album</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Album Name</th>
            <th>Year</th>
            <th>Song</th>
            <th>Pic</th>
            <th>Actions</th>
        </tr>
        <% for (var i = 1; i <= Albums.length; i++) { %>
            <tr>
                <td><%= Albums[i-1].ID %></td>
                <td><%= Albums[i-1].Albumname %></td>
                <td><%= Albums[i-1].Year%></td>
                <td><%= Albums[i-1].Song %></td>
                <td><img src="<%= Albums[i].Pic %>" alt="Album Pic" width="200" height="200"></td>
                <td class="actions">
                    <a href="/updatealbum/<%= Albums[i].ID %>">Update</a>
                    <a href="/deletealbum/<%= Albums[i].ID %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <div class="middle">
       
        <a href="/createalbum"class="create-link">Create New album</a>
        <br>
        <a href="/" class="create-link">View Band and Album</a>
        <br>
        <a href="/Bandss" class="create-link">View Band</a>
        <br>
        
    </div>
</body>
</html>
