<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Band</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Band</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Formation Year</th>
            <th>Member</th>
            <th>Picture</th>

            <th>Actions</th>
        </tr>
        <% for (let i = 0 ; i <= Bandss.length; i++) { %>
            <tr>
                <td><%= Bandss[i].ID %></td>
                <td><%= Bandss[i].Name %></td>
                <td><%= Bandss[i].Genre %></td>
                <td><%= Bandss[i].FormationYear %></td>
                <td><%= Bandss[i].Member %></td>
                <td><img src="<%= Bandss[i].Pic %>" alt="Band Pic" width="200" height="200"></td>
                <td class="actions">
                    <a href="/updateband/<%= Bandss[i].ID %>">Update</a>
                    <a href="/deleteband/<%= Bandss[i].ID %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <div class="middle">
        
        
        <a href="/createBand" class="create-link">Create New Bands</a>
        <br>
        <a href="/" class="create-link">View Band</a>
        <br>
        <a href="/Albums" class="create-link">View Album</a>
        <br>
        
    </div>
</body>
</html>
