<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Album</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <body>
        <h1>Update Album</h1>
        <form method="post" action="/updatealbum/<%= Album.ID %>">
            <label for="Albumname">Name</label>
            <input type="text" id="Albumname" name="Albumname" value="<%= Album.Albumname %>">
            <br>
            <label for="Year">Year</label>
            <input type="text" id="Year" name="Year" value="<%= Album.Year %>">
            <br>
            <label for="Song">Song</label>
            <input type="text" id="Song" name="Song" value="<%= Album.Song %>">
            <br>
    
            <label for="Pic">Pic</label>
            <input type="file" id="Pic" name="Pic" value="<%= Album.Pic %>">
            <br>
            <input type="submit" value="Update">
        </form>
    <div class="middle">
           
                
        <a href="/Deleteband/<%= Album.ID %>">Delete</a>
        <a href="/Bandss">Back to List</a>
    
    </body>
    <script>
        document.getElementById('Pic').addEventListener('change', function (e) {
            var preview = document.getElementById('preview');
            preview.style.display = 'block';
            preview.src = URL.createObjectURL(e.target.files[0]);
        });
    </script>
</html>
