
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Treatment</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background: #222; 
            color: #fff;
            text-align: center;
            margin: 50px;
            background-size: cover;
        }

        h1 {
            color: #f0f2f3;
        }

        form {
            width: 50%;
            margin: 0 auto;
            background: rgba(40, 40, 40, 0.9);
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        }

        label {
            display: block;
            margin: 10px 0;
            color: #eeeeee;
        }

        input {
            width: calc(100% - 20px);
            padding: 15px;
            margin: 5px 0;
            box-sizing: border-box;
            border: 2px solid #2196f3;
            border-radius: 10px;
            background-color: #292929;
            color: #fff;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: #2196f3;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        input[type="submit"]:hover {
            background-color: #1769aa;
        }

        a {
            display: block;
            margin-top: 20px;
            text-decoration: none;
            color: #ffffff;
            font-size: 34px;
        }
    </style>
</head>
<body>
    <h1>Update Treatment</h1>
    <form method="post" action="/updateTreatment/<%= Treatment.ID %>">
        <label for="DoctorID">DoctorID</label>
        <input type="text" id="DoctorID" name="DoctorID" value="<%= Treatment.DoctorID %>">
        <br>
        <label for="PatientID">PatientID</label>
        <input type="text" id="PatientID" name="PatientID" value="<%= Treatment.PatientID %>">
        <br>
        <label for="HospitalID">HospitalID</label>
        <input type="text" id="HospitalID" name="HospitalID" value="<%= Treatment.HospitalID %>">
        <br>
        <label for="Treatment">Treatment</label>
        <input type="text" id="Treatment" name="Treatment" value="<%= Treatment.Treatment %>">
        <br>

        <input type="submit" value="Update">
    </form>
    

<a href="/DeleteTreatment/<%= Treatment.ID %>">Delete</a>
<a href="/">Back to List</a>
</body>
</html> 